// @use "forPartial"; // using partial SCSS file from _forPartial.scss
@use "sass:math";  // for using math operations
@import '~bootstrap/scss/bootstrap';
// .App {
//   text-align: center;
// }
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #F1F5FF;
}

img {
  width: auto;
  height: 100%;
}
.mainbody {
  width: 100%;
    // display: flex;
    // justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// -------------------------------------------------------------------------------------------------------------

// $font-stack: Helvetica, sans-serif;
// $primary-color: red;
// $bg-color: #F1F5FF;
// body {
//   margin: 0;
// 	padding: 0;
// 	height: 100vh;
// 	width: 100%;
//   font: 100% $font-stack;
//   background-color: $bg-color;
// }


// $Nav-text: white;

// nav {
//   ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: #333;
//     }

//   li { 
//     float: left;
//    }

//   a {
//     display: inline-block;
//     color: $Nav-text;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
// }


// header{
	// width: 100%;
	// height: 80px;
	// background: black;
  // background: #0C121A;
	// display: flex;
	// justify-content: center;
// }
.header {
  // padding: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mainwrap{
  width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction:row;
}

#logo{
	height: 74px;
	width: auto;
	// align-items: center;
    // display: flex;
}

.header-item{
  display: flex;
  justify-content: center;
  align-items: center;
}


// #logo img{
// 	height:90px;
// 	width: 130px;
// 	cursor: pointer;
// }

#navmenu{
	display: flex;
	justify-content: center;
	width: 65%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    }


nav a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 16px;
  }

  #navmenu span{
    padding: 10px 20px;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
  }
  
 
  #brand-icon{
      // height: 100%;
      // width: 15%;
      display: flex;
      // align-items: center;
      justify-content: flex-end;
    }
    
    #brand-icon img{
      height: 56px;
      width: auto;
      cursor: pointer;
      margin: 0 10px;
    }
  .contentblock {
    display: block;
    width: 80%;
    margin: 0 auto;
  }  
  .pagetitle {
    background: rgba(67, 162, 255,0.15);
    padding: 15px 0;
  }
  .pagetitle h1 {
    font-size: 26px;
    line-height: 32px;
    color: #0C121A;
  }
h2 {
  font-size: 20px;
    line-height: 26px;
    color: #43A2FF;
    font-weight: 300;
    margin: 0;
    padding: 15px 0;
}
ul {
  margin: 0;
}
ul li {
  font-size: 14px;
  line-height: 22px;
}
p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: #0C121A;
}
.subtitle {
  font-weight: bold;
  padding: 10px 0;
}
.subtitle::after {
  content: '';
  border-bottom: 2px solid #43A2FF;
    width: 200px;
    display: block;
    margin-top: 2px;
}
.masterblock {
  display: flex;
}
.leftblock {
  flex:1;
  width: 60%;
  margin-right: 20px;
}
.rightblock {
  flex:1;
}

.compoblock {
  padding: 25px 0;
    border-bottom: 1px solid #43A2FF;
}

.logobanner {
  height: 709px;
}