

// @use "forPartial"; // using partial SCSS file from _forPartial.scss
@use "sass:math";  // for using math operations
@import '~bootstrap/scss/bootstrap';
// .App {
//   text-align: center;
// }

body {
  margin: 0;
  padding: 0;
  font-family: "ProximaRegular";
  background-color: #F1F5FF;
  font-size: 1em;
}

img {
  width: auto;
  height: 100%;
}

.mainbody {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

//////////////////////////////

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
///

// .mainwrap{
//   width: 80%;
// 	height: 100%;
// 	display: flex;
// 	align-items: center;
// 	flex-wrap: wrap;
// 	flex-direction:row;
// }

// #navmenu{
// 	display: flex;
// 	justify-content: center;
// 	width: 65%;
// }
// nav ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//     }


// nav a {
//     display: inline-block;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     color: black;
//     font-size: 14px;
//     line-height: 16px;
//   }

//   #navmenu span{
//     padding: 10px 20px;
//     line-height: 100%;
//     color: #fff;
//     cursor: pointer;
//   }


// .header {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

// #logo{
// 	height: 74px;
// 	width: auto;
// }

// .header-item{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
   
//   #brand-icon{
//       display: flex;
//       justify-content: flex-end;
//     }
    
//     #brand-icon img{
//       height: 56px;
//       width: auto;
//       cursor: pointer;
//       margin: 0 10px;
//     }

//   .contentblock {
//     display: block;
//     width: 80%;
//     margin: 0 auto;
//   }  

//   .pagetitle {
//     background: rgba(67, 162, 255,0.15);
//     padding: 15px 0;
//   }
//   .pagetitle h1 {
//     font-size: 26px;
//     line-height: 32px;
//     color: #0C121A;
//   }
// h2 {
//   font-size: 20px;
//     line-height: 26px;
//     color: #43A2FF;
//     font-weight: 300;
//     margin: 0;
//     padding: 15px 0;
// }
// ul {
//   margin: 0;
// }
// ul li {
//   font-size: 14px;
//   line-height: 22px;
// }
// p {
//   font-size: 16px;
//   line-height: 18px;
//   margin: 0;
//   color: #0C121A;
// }


// .subtitle {
//   font-weight: bold;
//   padding: 10px 0;
// }
// .subtitle::after {
//   content: '';
//   border-bottom: 2px solid #43A2FF;
//     width: 200px;
//     display: block;
//     margin-top: 2px;
// }
// .masterblock {
//   display: flex;
// }
// .leftblock {
//   flex:1;
//   width: 60%;
//   margin-right: 20px;
// }
// .rightblock {
//   flex:1;
// }

// .compoblock {
//   padding: 25px 0;
//     border-bottom: 1px solid #43A2FF;
// }


// LoginPage Componet 

.logobanner {
  height: 36.9em;
  position: absolute;
  right: 2.2222222222222223em;
  top: 0.8333333333333334em;
}
.pgtitle{
  font-size: 2em;
  line-height: 1.5;
  
  font-family: "ProximaExtraBold";
  margin: 0;
  color: #061d33;
}
.pgsubtitle {
  font-size: 1em;
  line-height: 1.3;
  font-family: "ProximaRegular";
  color: #333333;
}

.login-bottom-content {
  position: fixed;
  bottom: 3.3333333333333335em;
  left: 0px;
  width: 100%;
}

.bottom-block{
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-evenly;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 1.3888888888888888em 0em;
border-radius: 0.8333333333333334em;
}

.bottom-icons
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-icons span {
  padding-left: 0.5555555555555556em;
  font-size: 1em;
  line-height: 1.3;
  font-family: "ProximaBold";
}
.bottomImageIcon{
  height: 2.77em;
  width: 2.77em;
  display: block;
}

@media only screen and (min-width: 1349px) {
  body {
    font-size: 16px;
  }
  .logobanner {
    height: 22.7em;
    right: 90px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 22px;
  }
  .logobanner {
    height: 25.9em;
  }
}