//InputBox Component

.txtinputblock {
    height: auto;  
}
.txtinputblock label {
    color: #333;
    font-size: 1em;
    line-height: 1.3;
    text-align: left;
    display: flex;
    font-family: "ProximaBold";
    margin-bottom: 0.5555555555555556em;
}
.txtinputblock .textinput {
    border: 1px solid #535d69;
    // border-bottom: 1px solid #535d69;
    height: 2.77em;
    display: flex;
    background: transparent;
    border-radius: 0.5555555555555556em;
    overflow: hidden;
    text-align: left;
    font-family: "ProximaRegular";
}
.textinputblock .textinput::placeholder {
  font-family: "ProximaRegular";
}
.txtinputblock .textinput_prefix, .textinput_suffix {
    background: #EEE;
    padding: 0 0.27em;
    line-height: 2.77em;
    width: 2.22em;
}

.txtinputblock .textinput_box, .txtinputblock .textinput_box:focus {
    width: 100%;
    border: none;
    border-radius: 0.25em;
  // padding: 0 15px;
  max-height: 42px;    
  outline: none;
}

.txtinputblock .errormessage {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    color: #F00;
    font-size: 0.7777777777777778em;
    line-height: 0.88em;
    margin: 0;
    font-family: 'ProximaRegular';
}
.txtinputblock .infomessage {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    color: #00F;
    font-size: 0.7777777777777778em;
    line-height: 0.88em;
    margin: 0;
    margin-top: 0.2777777777777778em;
    font-family: 'Proxima-Regular';
}

.inputwithlbl{
  margin-top: 25px;
}

.input-demo__prefix,
.input-demo__suffix,
.input-demo__input,
.input-demo_image2,
.input-demo_image1
{
  padding: 0.55em 0.44em 0.55em 0.44em;
  background-color: whitesmoke;
  border: none;
  height: auto;
}


.txtinputblock .textinputlowerborder {
  border-bottom: 1px solid #535d69;
  // border-bottom: 1px solid #535d69;
  height: 2.77em;
  display: flex;
  background: transparent;
  // border-radius: 0.5555555555555556em;
  overflow: hidden;
  text-align: left;
  font-family: "ProximaRegular";
  
}

// TextArea Component

.TextAreaContainer{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    margin-bottom: '1rem';
    textarea{
      height: 5.55em;
      width: 13.88em;
      resize: none;
    }
}
.TextAreaLabel{
    margin-right: '1rem';
    font-size: '1rem';
    // font-weight: 'bold';
    font-family: "ProximaBold";
}

textarea{
    width: '100%';
    height: '8.33em';
    padding: '0.5rem';
    border-radius: '0.27em';
    border: '1px solid #ccc';
}

// Tabs Componet

.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .tab-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .tab-item {
    padding: 0.5555555555555556em;
    cursor: pointer;
    // font-weight: bold;
    font-family: "ProximaBold";
    border: 1px solid #ccc;
    border-radius: 0.27em;
    margin-right: 0em;
    border: none;
  }
  
  .tab-content {
    margin-top: 0.5555555555555556em;
  }
  
  .tab-item.active {
    background-color: black;
    color:white
  }

  //FileUpload Component

  .upload-div {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    justify-content: center; 
    // border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: none;
    border-radius: 50%;
    
    .uploadicon{
      height: 120px;
      width: 120px;
      margin: -5px;
      }
    .uploadinfo{      
      height: 101px;
      width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: -15px;
      p{
        font-size: 0.8888888888888888em;
        margin: 0px;
      }
    }
    .uploadedImage {
      width: 2.77em;
      height: 2.77em;
      margin-top: 0.5555555555555556em;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }
  .upload-div input[type="file"] {
    display: none;
  }
  
  //CheckBox Component 

  .chkBox, .chkBox img {
    width: 2.77em;
    height: 2.77em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  //DropDown Component
  .dropdown{
    border-bottom: 1px solid #535d69;
    color: black;
    height: 40px;
    width: 100%;
        padding: 0.15em;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    display: block;
    // background-color: #f1ecec;
    text-align: center;    
  }

  .dropdowncontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
  }
  .dropdowncontent img {
    width: auto;
    height: 100%;
  }
  .dropdowncontent p{
    font-size: 18px;
    margin-top: 12px;
  }
  .ddlist{
    margin: -1px;
    // margin-left: 225px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    overflow-x: hidden;
    border-bottom: 1px solid #535d69;
    padding: 0;;
  }

.ddlist li{
// margin-top: 0em;
    list-style-type: none;
    width: auto;
    height: 40px;
    background-color: #f1ecec;
    padding: 9px;
    text-align: left;
}

.stateTitle{
  margin-right: '1rem';
  font-size: '1rem';
  font-family: "ProximaBold";
}

.dropContainer{
  margin-bottom: 50px;
}



// Radio Component
.radiodiv{
  width:7.77em;
  height:6.11em;
  border: 1px solid black;
  align-content: center;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2777777777777778em;
    margin-bottom: 0.2777777777777778em;
    .radioul{
        .radiolist{
          list-style-type: none;
          position: relative;
          left: -2.7777777777777777em;
          display: flex;
          align-items: flex-start;
        padding: 0.1111111111111111em;

      }
    }
  }
}

// Button Component

.button1{
width: 100%;
letter-spacing:3px;
line-height: 1.5;
font-size: 1.125em;
font-family: ProximaSemiBold;
padding: 7px 10px;
max-height: 42px;
border: none;
}

.disable-recatngular1{
  background-color: #43A2FF;
  color: #FFF 
}
.enable-recatngular1{
  background-color: rgba(110, 121, 133, 0.60);
  color: rgba(255, 255, 255, 0.60);
}


.disable-Circular1{
  background-color: #43A2FF;
  color: #FFF;
  border-radius: 0.5rem;
}
.enable-Circular1{
  background-color: rgba(110, 121, 133, 0.60);
  color: rgba(255, 255, 255, 0.60);
  border-radius: 0.5rem;
}


// OTPComp

.OTPDesign{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  justify-content:space-around;
}

.otp-field {
  width: 22%;
  height: 45px;
  color: #333;
  font-family: "ProximaRegular";
  padding: 5px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #535d69;
  outline: none;
  text-align: center;
}
.OTPWarning{
  display: flex;
  justify-content: space-between;
  span{
    color: #43A2FF;
    text-decoration: underline;
    cursor: pointer;
  }
}
.OtpTitle{
  color: #333;
  font-size: 1em;
  line-height: 1.3;
  text-align: left;
  display: flex;
  font-family: "ProximaBold";
  margin-bottom: 0.5555555556em;
  margin-top: -18px;
}

.toggle{
  width: 48px;
  height: 24px;
  border-radius: 15px;
  background-color: #43A2FF;
  border: 1px solid rgba(110, 121, 133, 0.60);; 
  padding: 2px 0px;
  display: flex;
  align-items: center;
}
.toggle-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFF;
}

.toggle-circle-disable{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.60);
  float: right;
  padding: 2px 0px;
  display: flex;
  align-items: center;
}

.toggle-disable{
  width: 48px;
  height: 24px;
  border-radius: 15px;
  background-color: rgba(110, 121, 133, 0.60);
  border: 1px solid rgba(110, 121, 133, 0.60);;
}

//Error Page
.errorpage{
  font-style: proxima;
h1{
  font-size: 160px;
  background: #061D33;
}
p{
  line-height: 1.3;
}
}