
.header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #logo{
      height: 74px;
      width: auto;
  }
  
  .header-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    #brand-icon{
        display: flex;
        justify-content: flex-end;
      }
      
      #brand-icon img{
        height: 56px;
        width: auto;
        cursor: pointer;
        margin: 0 10px;
      }
  