
.header {
    padding-top: 25px;
    padding-bottom: 25px;
    // background: #F1F5FF;
  }
  
  #logo{
      height: 3.3333333333333335em;
      width: auto;
  }
  
  .header-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    #brand-icon{
        display: flex;
        justify-content: flex-end;
      }
      
      #brand-icon img{
        height: 2.22em;
        width: auto;
        cursor: pointer;
        margin: 0 0.5555555555555556em;
      }
  