@font-face { //800
  font-family: "ProximaExtraBold";
  src: local("ProximaExtraBold"),
   url("../assets/fonts/Proxima Nova Extrabold.otf") format("truetype");
 }

@font-face { //700
  font-family: "ProximaBold";
  src: local("ProximaBold"),
   url("../assets/fonts/Proxima Nova Bold.otf") format("truetype");
 }

 @font-face { //600
  font-family: "ProximaSemiBold";
  src: local("ProximaSemiBold"),
   url("../assets/fonts/Proxima Nova Semibold.otf") format("truetype");
 }
 
 @font-face { //400
  font-family: "ProximaRegular";
src: local("ProximaRegular"),
   url("../assets/fonts/Proxima Nova Regular.otf") format("truetype");
 }

 @font-face { //400
  font-family: "ProximaLight";
src: local("ProximaLight"),
   url("../assets/fonts/Proxima Nova Light.otf") format("truetype");
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

