@import '~bootstrap/scss/bootstrap';
.onboading-left-content{
    width: 501px;
    height: 460px;
    margin-top: 50px;
}


    .onboading-right-content {
        width: 611px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
        margin-left: 316px;
}

.contactDetailslabel {
    color: #061D33;
    font-family: 'ProximaExtraBold';
    font-size: 2.25em;
    line-height: 1.3;
    margin-bottom: 10px;
    white-space: nowrap;
}

.onboading-left-content p{
    color: #333;
    font-family: 'ProximaRegular';
    font-size: 1.125em;
    line-height: 1.3;
    margin-bottom: 0.55em;
  }

.onboardingbtn{
width: 295px;
height: 80px;
}

.contactDetails-right-content {
    width: 611px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    margin-left: 240px;
}

.Kyccontactbtn{
    margin-top: 145px;
}

.Digilockerlogo{
    height: 48px;
    width: 200px;
}