.onboading-left-content{
    width: 501px;
    height: 400px;
    margin-top: 50px;
}


    .onboading-right-content {
        width: 611px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
        margin-left: 316px;
}