@import '~bootstrap/scss/bootstrap';
.onboading-left-content{
    width: 501px;
    height: 460px;
    margin-top: 50px;
}
    .onboading-right-content {
        width: 611px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
        margin-left: 316px;
}

.contactDetailslabel {
    color: #061D33;
    font-family: 'ProximaExtraBold';
    font-size: 2.25em;
    line-height: 1.3;
    margin-bottom: 10px;
    white-space: nowrap;
}

.onboading-left-content p{
    color: #333;
    font-family: 'ProximaRegular';
    font-size: 1.125em;
    line-height: 1.3;
    margin-bottom: 0.55em;
  }

.onboardingbtn{
width: 295px;
height: 80px;
}

.contactDetails-right-content {
    width: 611px;
    height: 500px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    margin-left: 240px;
    margin-top: 50px;
}

.Kyccontactbtn{
    margin-top: 145px;
}

.Digilockerlogo{
    height: 48px;
    width: 200px;
}

////////////////////////////
.steptitlecontainer{
  display: flex;
  justify-content: space-between;
}

.steptitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .steptitle{
width: 100px;
  }
  
  .steptitle img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }
  
  .steptitle span {
    margin-top: 5px; /* Adjust the margin as needed */
  }
  .steptitlecontainer li{
    list-style-type: none;
  }
.stepscontainer{
    // width: 100%;
    margin-top: 25px;
}
.liitem{
    display: flex;
}

.lining{
    width: 145px;
height: 4px;
}

.stepcontiner{
  margin-top: 220px;
  margin-left: -50px;
  margin-right: -15px;
}
.Tabtitle{
  color: #333;
  font-size: 1em;
  line-height: 1.3;
  text-align: left;
  display: flex;
  font-family: "ProximaBold";
  margin-bottom: 0.5555555556em;
}

.hrline{
  overflow: hidden;
}


.congratsicon{
  width: 100px;
height: 100px
}

.investIcon{
  width: 60px;
height: 60px;
}

.investIconcontainer{
  width: 125px;
height: 160px;
}

.OtpLine {
  width: 541px;
  height: 2px;
  margin: 16px 0px 32px 0px;
}
.kycobtn{
  width: 250px;
height: 50px;
}
